{% if copy is defined and true == copy %}
    Уважаемый {{ order.name }}!
    Вы оставили заявку на сайте best-quest.ru:
{% endif %}

<p>Имя: {{ order.name }}</p>
<p>E-mail: {{ order.email }}</p>
<p>Телефон: {{ order.phone }}</p>
<p>Дата: {{ order.date|date('d.m.Y') }}</p>
<p>Количество человек: {{ order.members }}</p>
<p>Цель мероприятия: {{ order.goal }}</p>
<p>Сфера деятельности компании: {{ order.fieldOfActivity }}</p>
<p>Средний возраст участников: {{ order.averageAge }}</p>
<p>Понравившиеся проекты: {{ order.likedProjects }}</p>
<p>Непонравившиеся проекты: {{ order.dislikedProjects }}</p>
<p>Пожелания и идеи: {{ order.ideas }}</p>