{% if copy is defined and true == copy %}
    Уважаемый {{ order.name }}!
    Вы оставили заявку на сайте best-quest.ru:
{% endif %}

<p>Имя: {{ order.name }}</p>
<p>E-mail: {{ order.email }}</p>
<p>Телефон: {{ order.phone }}</p>
<p>Дата: {{ order.date|date('d.m.Y') }}</p>
<p>Количество человек: {{ order.members }}</p>
<p>Дополнительная информация: {{ order.description }}</p>