<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=1280, maximum-scale=1.0">
    <title>Best Quest</title>
    <meta content='' name='description'>
    <meta name="yandex-verification" content="59d79e57dce7579f"/>
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
    {% block stylesheets %}
        <link
                href="https://fonts.googleapis.com/css?family=Roboto:400,500,700%7CRubik:400,500,700&display=fallback&subset=cyrillic"
                rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('libs/swiper/swiper.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style-min.css') }}">
    {% endblock %}
    {% block custom_styles %}
        <style>
            {% if current_project is defined %}
            .logo-wrapper {
                background-color: {{ current_project.color }};
            }

            {% else %}
            .logo-wrapper {
                background-color: #e20000;
            }

            {% endif %}
        </style>
    {% endblock %}

    {% block head_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '268377387340285');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=268377387340285&ev=PageView
&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body class='{% block bodyclass %}{% endblock %}'>
{% block header %}
    <header class="l-header">
        <div class="l-header__inner {% block header_div_additional_class %}l-header__inner--small{% endblock %}">
            {% block header_logo %}
                <a class="logo-wrapper logo-wrapper--small unvisible" href="{{ path('app__main__index') }}"
                   id="logotype"
                   style="opacity: 1;">
                    <img src="{{ asset('img/small-logo.svg') }}" alt="логотип" width="48" height="48">
                </a>
            {% endblock %}
            <nav class="l-header__nav">
                {% set mainMenu = knp_menu_get('AppBundle:Builder:mainMenu') %}
                {{ knp_menu_render(mainMenu) }}
            </nav>
            <div class="l-header__actions">
                <div class='order'>
                    {% if current_project is defined %}
                        <a href='{{ path('app__order__handle', {'slug': current_project.slug }) }}'>Заявка</a>
                    {% else %}
                        <a href='{{ path('app__order__handle') }}'>Заявка</a>
                    {% endif %}
                </div>
                <div class="phone"><a href="tel:+78125746512">+7 (812) 574 65 12</a></div>
                <div class="phone"><a href="tel:+79219763876">+7 (921) 976 38 76</a></div>
                <div class="l-header__email"><a href="mailto:info@best-quest.ru">info@best-quest.ru</a></div>
                <div class="social">
                    <a class="yt"
                       href="https://www.youtube.com/channel/UCFYNEDiE5zWuEaYBXI00_iA/videos?view_as=subscriber"
                       target="_blank" aria-label="youtube">
                        <svg width="40" height="40" viewBox="0 0 40 40">
                            <use xlink:href="{{ asset('img/youtube.svg') }}#youtube"></use>
                        </svg>
                    </a>
                    <a class="instagram" href="https://www.instagram.com/bqspb.ru/" target="_blank"
                       aria-label="instagram">
                        <svg width="40" height="40" viewBox="0 0 40 40">
                            <use xlink:href="{{ asset('img/instagram.svg') }}#instagram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer block">
        <div class="footer__wrapper block__wrapper">
            <div class="footer__col">
                <h3>Best quest</h3>
                <ul>
                    <li>
                        <a class="footer__link" href="{{ path('app__main__about') }}#team">Команда</a>
                    </li>
                    <li>
                        <a class="footer__link" href="{{ path('app__main__about') }}#clients">Клиенты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3>Проекты</h3>
                {{ render(controller('AppBundle:Main:footerProjects')) }}
            </div>
            <div class="footer__col footer__col--margin">
                <h3>Контакты</h3>
                <ul>
                    <li>
                        <a class="footer__link" href="tel:+78125746512">+7 (812) 574 65 12</a>
                    </li>
                    <li>
                        <a class="footer__link" href="tel:+79219763876">+7 (921) 976 38 76</a>
                    </li>
                    <li>
                        <a class="footer__link" href="mailto:info@best-quest.ru">info@best-quest.ru</a>
                    </li>
                    <li>
                        {% if current_project is defined %}
                            <a class="footer__link"
                               href='{{ path('app__order__handle', {'slug': current_project.slug }) }}'>Заявка</a>
                        {% else %}
                            <a class="footer__link" href='{{ path('app__order__handle') }}'>Заявка</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}

<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=30731098&amp;from=informer"
   target="_blank" rel="nofollow"
   style="position: relative; bottom: 50px;"><img
            src="https://informer.yandex.ru/informer/30731098/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
            class="ym-advanced-informer" data-cid="30731098" data-lang="ru"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(30731098, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/30731098" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-25272388-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="https://www.youtube.com/iframe_api"></script>
{% block footer_js %}
    <script src="{{ asset('libs/svgxuse.min.js') }}" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset('libs/parallax/parallax.min.js') }}"></script>
{% endblock %}
<script src="{{ asset('js/my-main.js') }}"></script>
</body>
</html>