<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> ><! <![endif]-->
<html class='no-js'>
<!-- <![endif] -->
    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title>Best Quest</title>
        <meta content='' name='description'>
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=latin,cyrillic"
              rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic" rel="stylesheet"
              type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,cyrillic"
              rel="stylesheet" type="text/css"/>
        {% block stylesheets %}
            <link href="{{ asset('css/normalize.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/application.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/pages.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
        <script src="{{ asset('js/modernizr-2.6.1.min.js') }}" type="text/javascript"></script>
        {% block custom_styles %}
        {% endblock %}
    </head>
    <body class='{% block bodyclass %}index{% endblock %}'>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
            today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
            better experience this site.</p>
        <![endif]-->
        {% block header %}
            <header class="l-header">
                <div class="l-header__inner">
                    <a class="logo-wrapper small" href="/" id="logotype">
                        <h1 class="logotype">
                            <span class="active"
                                  style="display: inline-block; position: relative; opacity: 1; transform: translate(0px, 0px);">Best Quest</span>
                            <span class=""
                                  style="position: relative; opacity: 1; display: none; transform: translate(0px, 0px);">Настоящие Игры</span>
                        </h1>
                    </a>
                    <nav class="l-header__nav">
                        {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenu') %}
                        {{ knp_menu_render(menuItem) }}
                    </nav>
                    <div class="l-header__actions">
                        {% block apply %}
                        {% endblock %}
                        <div class="phone">(812) 574 65 12</div>
                        <div class="phone">(921) 976 38 76</div>
                        <div class="l-header__email"><a href="mailto:info@best-quest.ru">info@best-quest.ru</a></div>
                        <div class="social">
                            <a class="vk" href="https://vk.com/bqspbru" target="_blank">
                                <svg enable-background="new 0 0 16 9.1" height="14px" space="preserve" version="1.1"
                                     viewBox="0 0 16 9.1" width="14px" x="0px"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                     y="0px">
                                    <path clip-rule="evenodd" d="M14.9,2.7c0.4-0.5,0.8-1.1,1-1.7c0.1-0.4,0-0.6-0.4-0.7
  c-0.1,0-0.1,0-0.2,0l-2.5,0c-0.3,0-0.5,0.1-0.6,0.4c-0.1,0.4-0.3,0.7-0.5,1.1c-0.4,0.8-0.9,1.6-1.5,2.3c-0.1,0.1-0.3,0.3-0.5,0.3
    C9.4,4.3,9.3,3.8,9.3,3.6l0-2.9C9.3,0.3,9.2,0.1,8.8,0H6.1C5.8,0,5.6,0.1,5.4,0.4C5.3,0.5,5.3,0.6,5.5,0.6C5.9,0.7,6.2,1,6.2,1.4
    c0.1,0.7,0.1,1.4,0,2.1c0,0.2-0.1,0.4-0.1,0.6C6,4.4,5.8,4.5,5.5,4.3C5.3,4.1,5.1,3.9,4.9,3.7C4.3,2.8,3.8,1.8,3.4,0.8
  C3.3,0.5,3.1,0.3,2.8,0.3c-0.8,0-1.5,0-2.3,0C0,0.3-0.1,0.5,0.1,1c0.8,1.8,1.7,3.6,3,5.3c0.6,0.8,1.3,1.6,2.2,2.1
   c1,0.6,2.2,0.8,3.3,0.7c0.6,0,0.7-0.2,0.7-0.7c0-0.4,0.1-0.8,0.2-1.1c0.2-0.3,0.5-0.4,0.8-0.2c0.2,0.1,0.3,0.2,0.4,0.4
  c0.3,0.3,0.6,0.7,0.9,1c0.4,0.4,0.9,0.7,1.5,0.6l2.3,0c0.4,0,0.6-0.5,0.4-0.9c-0.2-0.3-0.4-0.6-0.6-0.8c-0.5-0.6-1-1.1-1.6-1.6
  c-0.5-0.5-0.5-0.7-0.1-1.3C14.1,3.9,14.5,3.3,14.9,2.7z" fill-rule="evenodd" fill="#FFFFFF"></path>
                                </svg>
                            </a>
                            <a class="instagram" href="https://www.instagram.com/igor.ozimov/" target="_blank">
                                <svg enable-background="new 0 0 24 24" height="14px" space="preserve" version="1.1"
                                     viewBox="0 0 24 24" width="14px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xmlns="http://www.w3.org/2000/svg" y="0px">
                                    <path clip-rule="evenodd"
                                          d="M11.984 16.815c2.596 0 4.706-2.111 4.706-4.707 0-1.409-.623-2.674-1.606-3.538-.346-.303-.735-.556-1.158-.748-.593-.27-1.249-.421-1.941-.421s-1.349.151-1.941.421c-.424.194-.814.447-1.158.749-.985.864-1.608 2.129-1.608 3.538 0 2.595 2.112 4.706 4.706 4.706zm.016-8.184c1.921 0 3.479 1.557 3.479 3.478 0 1.921-1.558 3.479-3.479 3.479s-3.479-1.557-3.479-3.479c0-1.921 1.558-3.478 3.479-3.478zm5.223.369h6.777v10.278c0 2.608-2.114 4.722-4.722 4.722h-14.493c-2.608 0-4.785-2.114-4.785-4.722v-10.278h6.747c-.544.913-.872 1.969-.872 3.109 0 3.374 2.735 6.109 6.109 6.109s6.109-2.735 6.109-6.109c.001-1.14-.327-2.196-.87-3.109zm2.055-9h-12.278v5h-1v-5h-1v5h-1v-4.923c-.346.057-.682.143-1 .27v4.653h-1v-4.102c-1.202.857-2 2.246-2 3.824v3.278h7.473c1.167-1.282 2.798-2 4.511-2 1.722 0 3.351.725 4.511 2h7.505v-3.278c0-2.608-2.114-4.722-4.722-4.722zm2.722 5.265c0 .406-.333.735-.745.735h-2.511c-.411 0-.744-.329-.744-.735v-2.53c0-.406.333-.735.744-.735h2.511c.412 0 .745.329.745.735v2.53z"
                                          fill-rule="evenodd" fill="#FFFFFF"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer class="l-footer b-skew b-skew-top dark">
                <div class="l-footer__inner">
                    <nav class="l-footer__nav">
                        <dl class="l-footer__menu">
                            <dt class="title">Best Quest</dt>
                            <dd class="item"><a href="/about#team">Команда</a></dd>
                            <dd class="item"><a href="/about#clients">Клиенты</a></dd>
                        </dl>
                        <dl class="l-footer__menu">
                            <dt class="title">Проекты</dt>
                            <dd class="item"><a href="/?tour">Зарубежным гостям</a></dd>
                            <dd class="item"><a href="/?city">Городской проект</a></dd>
                            <dd class="item"><a href="/?corp">Корпоративные мероприятия</a></dd>
                            <dd class="item"><a href="/?priv">Частные программы</a></dd>
                            <dd class="item"><a href="/?kids">Детский праздник</a></dd>
                            <dd class="item"><a href="/?excl">Эксклюзивный проект</a></dd>
                        </dl>
                        <dl class="l-footer__menu" id="contacts">
                            <dt class="title">Контакты</dt>
                            <dd class="item">
                                (812) 574 65 12
                            </dd>
                            <dd class="item">
                                (921) 976 38 76
                            </dd>
                            <dd class="item">
                                <a href="mailto:info@best-quest.ru">info@best-quest.ru</a>
                            </dd>
                        </dl>
                    </nav>
                    <div class="createdby">
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block footer_js %}
            <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
            <script>
                window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery-1.8.0.min.js') }}"><\/script>')
            </script>
            <script src="{{ asset('js/plugins.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>

            <!--— Yandex.Metrika counter —-->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function () {
                        try {
                            w.yaCounter30731098 = new Ya.Metrika({
                                id: 30731098,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true
                            });
                        } catch (e) {
                        }
                    });

                    var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () {
                                n.parentNode.insertBefore(s, n);
                            };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else {
                        f();
                    }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                &lt;div&gt;&lt;img src="//mc.yandex.ru/watch/30731098" style="position:absolute; left:-9999px;" alt=""/&gt;&lt;/div&gt;
            </noscript>
            <!--— /Yandex.Metrika counter —-->
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-25272388-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
