<div class='b-slider b-slider-main' id='slider'>
    <ul class='list'>
        {% for project in projects %}
            <li class='item b-project' data-type='{{ project.getDataType }}'
                style="display: {{ project.isInSlider == 0 ? 'none' : 'block' }};">
                <a href="{{ path('app__project', {'slug': project.slug}) }}">
                    <div class='b-project__image'
                         style='background-image: url({% path project.sliderLargeImage, 'medium' %})'></div>
                    <div class='b-project__image--small'
                         style='background-image: url({% path project.sliderSmallImage, 'medium' %})'></div>
                    <div class='b-project__body'>
                        <h3>{{ project.title|raw }}</h3>
                        <p class="main">{{ project.sliderDescription|raw }}</p>
                        <p class="preview">{{ project.sliderAnnotation|raw }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
        <li class='item b-project' data-type='excl'>
            <a href="{{ path('app__exclusive') }}">
                <div class='b-project__image' style='background-image: url(/img/projects/excl.jpg)'></div>
                <div class='b-project__image--small'
                     style='background-image: url(/img/projects/excl_small.jpg)'></div>
                <div class='b-project__body'>
                    <h3>Создать Экслюзивный Проект</h3>
                    <p class='main'>
                        Если вы не подобрали интересный проект в нашем ассортименте, то мы готовы предложить
                        вам эксклюзивный квест. Для разработки индивидуального сценария игры просим Вас
                        заполнить анкету.
                    </p>
                    <p class='preview'>
                        Заполните анкету для эксклюзивного проекта
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <div id='nothing-to-show' style='display: none; color: white'>Nothing to show</div>
    <div class='b-slider__next'>

        <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
            <title>arrow-right</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
               sketch:type="MSPage">
                <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup"
                   transform="translate(-623.000000, -94.000000)" fill="#FFFFFF">
                    <g id="arrow-right" sketch:type="MSLayerGroup"
                       transform="translate(623.000000, 94.000000)">
                        <path d="M47.75,24 C47.75,10.8832372 37.1167628,0.25 24,0.25 C10.8832372,0.25 0.25,10.8832372 0.25,24 C0.25,37.1167628 10.8832372,47.75 24,47.75 C37.1167628,47.75 47.75,37.1167628 47.75,24 Z M1.75,24 C1.75,11.7116643 11.7116643,1.75 24,1.75 C36.2883357,1.75 46.25,11.7116643 46.25,24 C46.25,36.2883357 36.2883357,46.25 24,46.25 C11.7116643,46.25 1.75,36.2883357 1.75,24 Z"
                              id="Oval-29" sketch:type="MSShapeGroup"></path>
                        <path d="M35.6146921,24.5 C36.0289056,24.5 36.3646921,24.1642136 36.3646921,23.75 C36.3646921,23.3357864 36.0289056,23 35.6146921,23 L12.3853079,23 C11.9710944,23 11.6353079,23.3357864 11.6353079,23.75 C11.6353079,24.1642136 11.9710944,24.5 12.3853079,24.5 L35.6146921,24.5 Z"
                              id="Line" sketch:type="MSShapeGroup"></path>
                        <path d="M35.6259318,24.4185217 L35.6259318,23.4308392 L29.4358507,30.5061588 C29.1631097,30.8179042 29.1947291,31.2917241 29.5064745,31.5644651 C29.81822,31.8372061 30.2920399,31.8055867 30.5647809,31.4938412 L36.7548619,24.4185217 C37.0022418,24.1357642 37.0022418,23.7135967 36.7548619,23.4308392 L30.5644651,16.3551588 C30.2917241,16.0434133 29.8179042,16.0117939 29.5061588,16.2845349 C29.1944133,16.5572759 29.1627939,17.0310958 29.4355349,17.3428412 L35.6259318,24.4185217 Z"
                              id="Path-532" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </g>
        </svg>

    </div>
    <div class='b-slider__prev'>

        <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
            <title>arrow-left</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
               sketch:type="MSPage">
                <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup"
                   transform="translate(-557.000000, -94.000000)" fill="#FFFFFF">
                    <g id="arrow-left" sketch:type="MSLayerGroup"
                       transform="translate(581.000000, 118.000000) scale(-1, 1) translate(-581.000000, -118.000000) translate(557.000000, 94.000000)">
                        <path d="M47.75,24 C47.75,10.8832372 37.1167628,0.25 24,0.25 C10.8832372,0.25 0.25,10.8832372 0.25,24 C0.25,37.1167628 10.8832372,47.75 24,47.75 C37.1167628,47.75 47.75,37.1167628 47.75,24 Z M1.75,24 C1.75,11.7116643 11.7116643,1.75 24,1.75 C36.2883357,1.75 46.25,11.7116643 46.25,24 C46.25,36.2883357 36.2883357,46.25 24,46.25 C11.7116643,46.25 1.75,36.2883357 1.75,24 Z"
                              id="Oval-29" sketch:type="MSShapeGroup"></path>
                        <path d="M35.6146921,24.5 C36.0289056,24.5 36.3646921,24.1642136 36.3646921,23.75 C36.3646921,23.3357864 36.0289056,23 35.6146921,23 L12.3853079,23 C11.9710944,23 11.6353079,23.3357864 11.6353079,23.75 C11.6353079,24.1642136 11.9710944,24.5 12.3853079,24.5 L35.6146921,24.5 Z"
                              id="Line" sketch:type="MSShapeGroup"></path>
                        <path d="M35.6259318,24.4185217 L35.6259318,23.4308392 L29.4358507,30.5061588 C29.1631097,30.8179042 29.1947291,31.2917241 29.5064745,31.5644651 C29.81822,31.8372061 30.2920399,31.8055867 30.5647809,31.4938412 L36.7548619,24.4185217 C37.0022418,24.1357642 37.0022418,23.7135967 36.7548619,23.4308392 L30.5644651,16.3551588 C30.2917241,16.0434133 29.8179042,16.0117939 29.5061588,16.2845349 C29.1944133,16.5572759 29.1627939,17.0310958 29.4355349,17.3428412 L35.6259318,24.4185217 Z"
                              id="Path-532" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>

</div>