{% extends 'base.html.twig' %}

{% block content %}
    <main class="event">
        <section class="accession">
            <div class="accession__wrapper" data-parallax="scroll" data-speed="1.2" data-bleed="10"
                 data-position="center top"
                 data-image-src="{{ asset('img/backgroung-opacity.jpg') }}">
                <div class="accession__content">
                    <img class="accession__logo" src="{{ asset('img/logo.svg') }}" alt="логотип best-quest" width="145" height="145">
                    <h1 class="accession__title">
                        <span class="accession__title-big">BEST QUEST</span>
                        <span class="accession__title-small">Игровые технологии <br> мероприятий</span>
                    </h1>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="about__wrapper">
                <h2 class="about__title">{{ about.title }}</h2>
                <div class="about__content">{{ about.content|raw }}</div>
            </div>
        </section>

        <section class="team" id="team">
            <div class="team__wrapper">
                <h2 class="team__title">Команда</h2>
                <ul class="team__list">
                    {% for teammate in teammates %}
                        <li class="team__item">
                            <div class="team__card">
                                <div class="team__logo">
                                    <img src="{% path teammate.photo, 'medium' %}" alt="{{ teammate.name }}">
                                </div>
                                <p class="team__name">{{ teammate.name }}</p>
                                <p class="team__position">{{ teammate.position }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="customers" id="clients">
            <div class="customers__wrapper">
                <h2 class="customers__title">Клиенты</h2>
                <ul class="customers__list">
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/Frame.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_15.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_34.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_20.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_4.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_10.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_21.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_16.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_35.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_33.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_5.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_22.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_7_1.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_26.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_6.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_11.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_30.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_27.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_28.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_32.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_23.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_19.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_31.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_29.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_37.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_38.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_8.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_9.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_36.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_39.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_34-1.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_7.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_40.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_42.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_41.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                    <li class="customers__item">
                        <a class="customers__link" href="#">
                            <img src="{{ asset('img/customers/image_43.png') }}" alt="логотип партнера">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
{% block footer_js %}
    <script src="{{ asset('libs/svgxuse.min.js') }}" async defer></script>
    <script src="{{ asset('libs/jquery/jquery-2.0.0.min.js') }}"></script>
    <script src="{{ asset('libs/parallax/parallax.min.js') }}"></script>
    <script src="{{ asset('js/my-main.js') }}?v=1636822055"></script>
{% endblock %}