{% extends 'base.html.twig' %}

{% block header %}
    <header class='l-header'>
        <div class='l-header__inner'>
            <a class='logo-wrapper unvisible' href='/' id='logotype'>
                <h1 class='logotype'>
                    <span class='active'>Best Quest</span>
                    <span>Настоящие Квесты</span>
                </h1>
            </a>
            <nav class='l-header__nav'>
                <ul class='l-header__menu'>
                    <li class='item'>
                        <a href="/">Проекты</a>
                        <ul class='l-header__submenu js-slider-control'>
                            {% for category in categories %}
                                <li class='item' data-slider="{{ category.title }}">
                                    <i>{{ category.title }}</i></li>
                            {% endfor %}
                            <li class='item' data-slider="excl"><i>Эксклюзивный проект</i></li>
                        </ul>
                    </li>
                    <li class='item'>
                        <a href="{{ path('app__about') }}">О компании</a>
                        <ul class='l-header__submenu'>
                            <li class='item'><a href="{{ path('app__about') }}#team">Команда</a></li>
                            <li class='item'><a href="{{ path('app__about') }}#clients">Клиенты</a></li>
                            <li class='item'><a href="{{ path('app__about') }}#partners">Партнеры</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class='l-header__actions'>
                <div class='phone'>(812) 574 65 12</div>
                <div class='phone'>(921) 976 38 76</div>
                <div class='l-header__email'><a href="mailto:info@best-quest.ru">info@best-quest.ru</a></div>
                <div class='social'>
                    <a class='vk' href='https://vk.com/bqspbru' target='_blank'>
                        <svg enable-background='new 0 0 16 9.1' height='14px' space='preserve' version='1.1'
                             viewbox='0 0 16 9.1' width='14px' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink'
                             xmlns='http://www.w3.org/2000/svg' y='0px'>
                            <path clip-rule='evenodd'
                                  d='M14.9,2.7c0.4-0.5,0.8-1.1,1-1.7c0.1-0.4,0-0.6-0.4-0.7&#x000A;  c-0.1,0-0.1,0-0.2,0l-2.5,0c-0.3,0-0.5,0.1-0.6,0.4c-0.1,0.4-0.3,0.7-0.5,1.1c-0.4,0.8-0.9,1.6-1.5,2.3c-0.1,0.1-0.3,0.3-0.5,0.3&#x000A;  C9.4,4.3,9.3,3.8,9.3,3.6l0-2.9C9.3,0.3,9.2,0.1,8.8,0H6.1C5.8,0,5.6,0.1,5.4,0.4C5.3,0.5,5.3,0.6,5.5,0.6C5.9,0.7,6.2,1,6.2,1.4&#x000A;  c0.1,0.7,0.1,1.4,0,2.1c0,0.2-0.1,0.4-0.1,0.6C6,4.4,5.8,4.5,5.5,4.3C5.3,4.1,5.1,3.9,4.9,3.7C4.3,2.8,3.8,1.8,3.4,0.8&#x000A;  C3.3,0.5,3.1,0.3,2.8,0.3c-0.8,0-1.5,0-2.3,0C0,0.3-0.1,0.5,0.1,1c0.8,1.8,1.7,3.6,3,5.3c0.6,0.8,1.3,1.6,2.2,2.1&#x000A; c1,0.6,2.2,0.8,3.3,0.7c0.6,0,0.7-0.2,0.7-0.7c0-0.4,0.1-0.8,0.2-1.1c0.2-0.3,0.5-0.4,0.8-0.2c0.2,0.1,0.3,0.2,0.4,0.4&#x000A;  c0.3,0.3,0.6,0.7,0.9,1c0.4,0.4,0.9,0.7,1.5,0.6l2.3,0c0.4,0,0.6-0.5,0.4-0.9c-0.2-0.3-0.4-0.6-0.6-0.8c-0.5-0.6-1-1.1-1.6-1.6&#x000A;  c-0.5-0.5-0.5-0.7-0.1-1.3C14.1,3.9,14.5,3.3,14.9,2.7z'
                                  fill-rule='evenodd' fill='#FFFFFF'></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <main class='l-content l-main'>
        <section class='l-section l-section-home b-skew b-skew-bottom dark'>
            <div class='b-title-slide' id='title-slide'>
                <div class='table-cell'>
                    <article>
                        <div class='logo-wrapper'></div>
                        <h1 class='s-title main-color'>Best Quest</h1>
                        <div class='b-title-slide__slogan'>Настоящие квесты</div>
                        <div class="sub-slogan">Современные командные игры</div>
                    </article>
                </div>
            </div>
            <div class='b-slider b-slider-main' id='slider'>
                <ul class='list'>
                    {% for project in projects %}
                        <li class='item b-project' data-type='{{ project.getDataType }}'
                            style="display: {{ project.isInSlider == 0 ? 'none' : 'block' }};">
                            <a href="/project/{{ project.slug }}">
                                <div class='b-project__image'
                                     style='background-image: url(/project_files/{{ project.id }}/slider/big_slider_image.jpg)'></div>
                                <div class='b-project__image--small'
                                     style='background-image: url(/project_files/{{ project.id }}/slider/small_slider_image.jpg)'></div>
                                <div class='b-project__body'>
                                    <h3>{{ project.title|raw }}</h3>
                                    <p class="main">{{ project.sliderAnnotation|raw }}</p>
                                    <p class="preview">{{ project.sliderDescription|raw }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    <li class='item b-project' data-type='excl'>
                        <a href="/project/exclusive">
                            <div class='b-project__image' style='background-image: url(/img/projects/excl.jpg)'></div>
                            <div class='b-project__image--small'
                                 style='background-image: url(/img/projects/excl_small.jpg)'></div>
                            <div class='b-project__body'>
                                <h3>Создать Экслюзивный Проект</h3>
                                <p class='main'>
                                    Если вы не подобрали интересный проект в нашем ассортименте, то мы готовы предложить
                                    вам эксклюзивный квест. Для разработки индивидуального сценария игры просим Вас
                                    заполнить анкету.
                                </p>
                                <p class='preview'>
                                    Заполните анкету для эксклюзивного проекта
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div id='nothing-to-show' style='display: none; color: white'>Nothing to show</div>
                <div class='b-slider__next'>

                    <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>arrow-right</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                           sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup"
                               transform="translate(-623.000000, -94.000000)" fill="#FFFFFF">
                                <g id="arrow-right" sketch:type="MSLayerGroup"
                                   transform="translate(623.000000, 94.000000)">
                                    <path d="M47.75,24 C47.75,10.8832372 37.1167628,0.25 24,0.25 C10.8832372,0.25 0.25,10.8832372 0.25,24 C0.25,37.1167628 10.8832372,47.75 24,47.75 C37.1167628,47.75 47.75,37.1167628 47.75,24 Z M1.75,24 C1.75,11.7116643 11.7116643,1.75 24,1.75 C36.2883357,1.75 46.25,11.7116643 46.25,24 C46.25,36.2883357 36.2883357,46.25 24,46.25 C11.7116643,46.25 1.75,36.2883357 1.75,24 Z"
                                          id="Oval-29" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6146921,24.5 C36.0289056,24.5 36.3646921,24.1642136 36.3646921,23.75 C36.3646921,23.3357864 36.0289056,23 35.6146921,23 L12.3853079,23 C11.9710944,23 11.6353079,23.3357864 11.6353079,23.75 C11.6353079,24.1642136 11.9710944,24.5 12.3853079,24.5 L35.6146921,24.5 Z"
                                          id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6259318,24.4185217 L35.6259318,23.4308392 L29.4358507,30.5061588 C29.1631097,30.8179042 29.1947291,31.2917241 29.5064745,31.5644651 C29.81822,31.8372061 30.2920399,31.8055867 30.5647809,31.4938412 L36.7548619,24.4185217 C37.0022418,24.1357642 37.0022418,23.7135967 36.7548619,23.4308392 L30.5644651,16.3551588 C30.2917241,16.0434133 29.8179042,16.0117939 29.5061588,16.2845349 C29.1944133,16.5572759 29.1627939,17.0310958 29.4355349,17.3428412 L35.6259318,24.4185217 Z"
                                          id="Path-532" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>
                <div class='b-slider__prev'>

                    <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>arrow-left</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                           sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup"
                               transform="translate(-557.000000, -94.000000)" fill="#FFFFFF">
                                <g id="arrow-left" sketch:type="MSLayerGroup"
                                   transform="translate(581.000000, 118.000000) scale(-1, 1) translate(-581.000000, -118.000000) translate(557.000000, 94.000000)">
                                    <path d="M47.75,24 C47.75,10.8832372 37.1167628,0.25 24,0.25 C10.8832372,0.25 0.25,10.8832372 0.25,24 C0.25,37.1167628 10.8832372,47.75 24,47.75 C37.1167628,47.75 47.75,37.1167628 47.75,24 Z M1.75,24 C1.75,11.7116643 11.7116643,1.75 24,1.75 C36.2883357,1.75 46.25,11.7116643 46.25,24 C46.25,36.2883357 36.2883357,46.25 24,46.25 C11.7116643,46.25 1.75,36.2883357 1.75,24 Z"
                                          id="Oval-29" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6146921,24.5 C36.0289056,24.5 36.3646921,24.1642136 36.3646921,23.75 C36.3646921,23.3357864 36.0289056,23 35.6146921,23 L12.3853079,23 C11.9710944,23 11.6353079,23.3357864 11.6353079,23.75 C11.6353079,24.1642136 11.9710944,24.5 12.3853079,24.5 L35.6146921,24.5 Z"
                                          id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6259318,24.4185217 L35.6259318,23.4308392 L29.4358507,30.5061588 C29.1631097,30.8179042 29.1947291,31.2917241 29.5064745,31.5644651 C29.81822,31.8372061 30.2920399,31.8055867 30.5647809,31.4938412 L36.7548619,24.4185217 C37.0022418,24.1357642 37.0022418,23.7135967 36.7548619,23.4308392 L30.5644651,16.3551588 C30.2917241,16.0434133 29.8179042,16.0117939 29.5061588,16.2845349 C29.1944133,16.5572759 29.1627939,17.0310958 29.4355349,17.3428412 L35.6259318,24.4185217 Z"
                                          id="Path-532" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

            </div>
        </section>
        <ul class='b-slider__pages' id='pages'>
            {% for category in categories %}
                <li class='item' data-action="{{ category.title }}">
                    {{ category.icon|raw }}
                    <p class='icontext'>
                        {{ category.title }}
                    </p>
                </li>
            {% endfor %}
            <li class='item' data-action='excl'>
                <svg width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                    <title>icon_7</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup"
                           transform="translate(-1008.000000, -63.000000)" fill="#FFFFFF">
                            <g id="icon_7" sketch:type="MSLayerGroup" transform="translate(1008.000000, 67.000000)">
                                <path d="M54.455,9.488 L52.958,9.488 C52.928,9.483 52.871,9.44 52.833,9.345 L51.938,7.175 C51.929,7.148 51.936,7.083 51.953,7.06 L53.004,6.005 C53.27,5.744 53.416,5.396 53.416,5.024 C53.416,4.652 53.27,4.303 53.01,4.049 L51.786,2.815 C51.258,2.305 50.355,2.309 49.84,2.824 L48.695,3.904 L46.424,2.979 C46.397,2.965 46.355,2.909 46.352,2.884 L46.352,1.382 C46.352,0.62 45.731,0 44.969,0 L43.244,0 C42.484,0 41.866,0.62 41.866,1.382 L41.867,2.876 C41.86,2.907 41.815,2.965 41.723,3.002 L39.553,3.9 L39.438,3.889 L38.374,2.825 C37.852,2.307 36.948,2.305 36.422,2.826 L35.198,4.048 C34.664,4.587 34.664,5.462 35.201,6.001 L36.259,7.057 C36.276,7.081 36.286,7.146 36.242,7.245 L35.356,9.413 C35.342,9.44 35.284,9.483 35.262,9.488 L33.758,9.488 C32.996,9.488 32.375,10.108 32.375,10.87 L32.375,12.594 C32.375,13.356 32.996,13.976 33.758,13.976 L35.254,13.975 C35.284,13.981 35.342,14.023 35.379,14.117 L36.275,16.288 C36.286,16.316 36.276,16.381 36.263,16.401 L35.198,17.463 C34.663,18.004 34.663,18.879 35.201,19.416 L36.426,20.644 C36.95,21.155 37.852,21.156 38.375,20.635 L39.518,19.559 L41.788,20.483 C41.817,20.497 41.86,20.555 41.866,20.579 L41.866,22.081 C41.866,22.842 42.484,23.462 43.244,23.462 L44.969,23.462 C45.731,23.462 46.352,22.842 46.352,22.081 L46.352,20.584 C46.355,20.553 46.397,20.497 46.491,20.46 L48.663,19.563 L48.776,19.574 L49.838,20.635 C50.355,21.156 51.254,21.167 51.796,20.636 L53.002,19.422 C53.268,19.163 53.414,18.814 53.416,18.442 C53.417,18.069 53.271,17.719 53.008,17.462 L51.953,16.408 C51.936,16.383 51.928,16.315 51.971,16.217 L52.858,14.052 C52.871,14.023 52.928,13.98 52.953,13.976 L54.455,13.976 C55.217,13.976 55.838,13.356 55.838,12.594 L55.838,10.87 C55.838,10.108 55.217,9.488 54.455,9.488 L54.455,9.488 Z M54.337,12.476 L52.953,12.476 C52.274,12.476 51.616,12.966 51.448,13.546 L50.619,15.572 C50.293,16.168 50.407,16.981 50.888,17.462 L51.864,18.439 L50.817,19.493 L49.837,18.513 C49.547,18.224 49.131,18.059 48.698,18.059 C48.428,18.059 48.168,18.124 48.024,18.209 L45.994,19.046 C45.342,19.237 44.852,19.896 44.852,20.579 L44.852,21.962 L43.366,21.962 L43.366,20.579 C43.366,19.899 42.873,19.24 42.293,19.073 L40.267,18.246 C39.686,17.924 38.842,18.046 38.375,18.514 L37.397,19.494 L36.344,18.439 L37.321,17.463 C37.805,16.983 37.922,16.168 37.629,15.647 L36.792,13.621 C36.6,12.968 35.942,12.476 35.262,12.476 L33.875,12.476 L33.875,10.988 L35.262,10.988 C35.943,10.988 36.6,10.495 36.766,9.916 L37.592,7.893 C37.924,7.295 37.808,6.479 37.323,6 L36.344,5.024 L37.4,3.971 L38.377,4.952 C38.668,5.239 39.083,5.404 39.52,5.404 C39.788,5.404 40.046,5.34 40.192,5.254 L42.221,4.415 C42.873,4.221 43.366,3.563 43.366,2.884 L43.366,1.5 L44.852,1.5 L44.852,2.884 C44.852,3.566 45.342,4.224 45.92,4.39 L47.948,5.219 C48.529,5.538 49.366,5.417 49.837,4.95 L50.817,3.969 L51.864,5.024 L50.896,5.996 C50.409,6.474 50.29,7.289 50.584,7.815 L51.422,9.845 C51.616,10.497 52.274,10.988 52.953,10.988 L54.337,10.988 L54.337,12.476 L54.337,12.476 Z M34.208,24.099 L31.856,24.099 C31.641,24.099 31.36,23.889 31.274,23.612 L29.881,20.239 C29.78,20.054 29.83,19.713 29.98,19.563 L31.641,17.9 C31.969,17.572 32.151,17.135 32.151,16.67 C32.151,16.205 31.971,15.767 31.642,15.439 L29.725,13.515 C29.067,12.87 27.928,12.869 27.27,13.52 L25.606,15.188 C25.516,15.279 25.34,15.339 25.172,15.339 C25.076,15.339 24.988,15.32 24.848,15.25 L21.479,13.867 C21.276,13.807 21.071,13.527 21.071,13.311 L21.071,10.956 C21.071,9.995 20.288,9.213 19.327,9.213 L16.622,9.213 C15.662,9.213 14.883,9.995 14.883,10.956 L14.883,13.311 C14.883,13.522 14.67,13.807 14.396,13.892 L11.022,15.287 C10.852,15.381 10.489,15.33 10.349,15.19 L8.68,13.521 C8.022,12.868 6.875,12.871 6.223,13.523 L4.308,15.436 C3.977,15.765 3.793,16.204 3.793,16.67 C3.795,17.136 3.977,17.573 4.305,17.899 L5.971,19.564 C6.121,19.714 6.171,20.053 6.032,20.316 L4.653,23.682 C4.592,23.885 4.307,24.099 4.098,24.099 L1.738,24.099 C0.78,24.099 0,24.88 0,25.84 L0,28.546 C0,29.506 0.78,30.287 1.738,30.287 L4.098,30.287 C4.311,30.287 4.59,30.496 4.678,30.771 L6.069,34.145 C6.17,34.33 6.121,34.67 5.971,34.82 L4.308,36.482 C3.977,36.811 3.793,37.25 3.793,37.718 C3.795,38.185 3.977,38.623 4.305,38.946 L6.223,40.868 C6.883,41.516 8.022,41.513 8.682,40.86 L10.349,39.194 C10.437,39.105 10.609,39.045 10.775,39.045 C10.871,39.045 10.959,39.065 11.1,39.137 L14.469,40.517 C14.67,40.577 14.883,40.862 14.883,41.072 L14.883,43.428 C14.883,44.388 15.662,45.17 16.622,45.17 L19.327,45.17 C20.288,45.17 21.071,44.388 21.071,43.428 L21.071,41.072 C21.071,40.857 21.276,40.577 21.55,40.492 L24.922,39.101 C25.101,39.004 25.466,39.055 25.604,39.193 L27.27,40.863 C27.924,41.518 29.069,41.52 29.73,40.863 L31.639,38.949 C31.969,38.622 32.151,38.184 32.151,37.718 C32.151,37.251 31.971,36.812 31.641,36.484 L29.978,34.824 C29.828,34.672 29.78,34.33 29.918,34.068 L31.299,30.702 C31.36,30.496 31.641,30.287 31.856,30.287 L34.208,30.287 C35.171,30.287 35.953,29.506 35.953,28.546 L35.953,25.84 C35.953,24.88 35.171,24.099 34.208,24.099 L34.208,24.099 Z M34.453,28.546 C34.453,28.676 34.342,28.787 34.208,28.787 L31.856,28.787 C30.971,28.787 30.114,29.425 29.887,30.202 L28.567,33.42 C28.149,34.18 28.299,35.259 28.913,35.881 L30.582,37.546 C30.642,37.606 30.651,37.678 30.651,37.716 C30.651,37.754 30.642,37.825 30.58,37.886 L28.671,39.801 C28.549,39.921 28.451,39.923 28.332,39.803 L26.663,38.13 C26.289,37.759 25.746,37.545 25.175,37.545 C24.825,37.545 24.489,37.629 24.278,37.75 L21.054,39.079 C20.221,39.324 19.571,40.2 19.571,41.072 L19.571,43.428 C19.571,43.559 19.458,43.671 19.327,43.671 L16.622,43.671 C16.492,43.671 16.383,43.559 16.383,43.428 L16.383,41.072 C16.383,40.201 15.729,39.325 14.967,39.104 L11.747,37.787 C11.461,37.629 11.125,37.545 10.775,37.545 C10.203,37.545 9.661,37.759 9.287,38.132 L7.623,39.797 C7.502,39.92 7.396,39.917 7.28,39.803 L5.363,37.882 C5.304,37.824 5.295,37.754 5.293,37.716 C5.293,37.679 5.304,37.608 5.367,37.545 L7.034,35.879 C7.659,35.252 7.809,34.194 7.417,33.498 L6.09,30.272 C5.841,29.439 4.965,28.787 4.098,28.787 L1.738,28.787 C1.61,28.787 1.5,28.676 1.5,28.546 L1.5,25.84 C1.5,25.71 1.61,25.599 1.738,25.599 L4.098,25.599 C4.965,25.599 5.841,24.946 6.065,24.181 L7.381,20.964 C7.803,20.202 7.65,19.12 7.03,18.503 L5.364,16.836 C5.307,16.779 5.295,16.713 5.293,16.67 C5.293,16.632 5.304,16.561 5.367,16.5 L7.286,14.584 C7.4,14.466 7.502,14.463 7.621,14.584 L9.29,16.252 C9.662,16.626 10.205,16.839 10.778,16.839 C11.127,16.839 11.463,16.756 11.67,16.636 L14.895,15.305 C15.73,15.058 16.383,14.182 16.383,13.311 L16.383,10.956 C16.383,10.822 16.489,10.713 16.622,10.713 L19.327,10.713 C19.458,10.713 19.571,10.824 19.571,10.956 L19.571,13.311 C19.571,14.183 20.221,15.059 20.981,15.279 L24.202,16.6 C24.955,17.012 26.055,16.855 26.666,16.251 L28.328,14.583 C28.452,14.462 28.559,14.471 28.667,14.58 L30.58,16.5 C30.642,16.56 30.651,16.631 30.651,16.67 C30.651,16.706 30.642,16.777 30.58,16.838 L28.92,18.502 C28.301,19.118 28.147,20.199 28.532,20.885 L29.862,24.111 C30.114,24.96 30.971,25.599 31.856,25.599 L34.208,25.599 C34.342,25.599 34.453,25.71 34.453,25.84 L34.453,28.546 L34.453,28.546 Z"
                                      id="Fill-186" sketch:type="MSShapeGroup"></path>
                                <path d="M48.75,12 C48.75,9.37664744 46.6233526,7.25 44,7.25 C41.3766474,7.25 39.25,9.37664744 39.25,12 C39.25,14.6233526 41.3766474,16.75 44,16.75 C46.6233526,16.75 48.75,14.6233526 48.75,12 Z M40.75,12 C40.75,10.2050746 42.2050746,8.75 44,8.75 C45.7949254,8.75 47.25,10.2050746 47.25,12 C47.25,13.7949254 45.7949254,15.25 44,15.25 C42.2050746,15.25 40.75,13.7949254 40.75,12 Z"
                                      id="Oval-18" sketch:type="MSShapeGroup"></path>
                                <path d="M24.75,27 C24.75,23.2720779 21.7279221,20.25 18,20.25 C14.2720779,20.25 11.25,23.2720779 11.25,27 C11.25,30.7279221 14.2720779,33.75 18,33.75 C21.7279221,33.75 24.75,30.7279221 24.75,27 Z M12.75,27 C12.75,24.1005051 15.1005051,21.75 18,21.75 C20.8994949,21.75 23.25,24.1005051 23.25,27 C23.25,29.8994949 20.8994949,32.25 18,32.25 C15.1005051,32.25 12.75,29.8994949 12.75,27 Z"
                                      id="Oval-17" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class='icontext'>эксклюзивный проект</p>
            </li>
        </ul>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}