{% extends 'base.html.twig' %}

{% block head_js %}
    <script src="{{ asset('libs/jquery/jquery-2.0.0.min.js') }}"></script>
{% endblock %}

{% block bodyclass %}index{% endblock %}

{% block header_logo %}
    <a class="logo-wrapper logo-wrapper--small unvisible" href="{{ path('app__main__index') }}"
       id="logotype"
       style="opacity: 0;">
        <img src="{{ asset('img/small-logo.svg') }}" alt="логотип" width="48" height="48">
    </a>
{% endblock %}

{% block content %}
    <main class='l-content l-main'>
        <section class='l-section l-section-home b-skew b-skew-bottom dark'>
            <div class="intro block">
                <div class="intro__wrapper block__wrapper">
                    <div class="intro__main">
                        <img class="intro__background" width="2560" height="1440" src="{{ asset('img/main-background-big.jpg') }}" alt="Планета на фоне гор">
                        <div class="intro__main-wrap">
                            <div class="b-title-slide b-title-slide--small">
                                <div class="table-cell" data-name="big-logo">
                                    <article>
                                        <div class="logo-wrapper"></div>
                                        <h1 class="s-title main-color">Best Quest</h1>
                                        <div class="b-title-slide__slogan">Современные технологии тимбилдинга</div>
                                    </article>
                                </div>
                            </div>

                            <div class="marquee" data-marquee>
                                <div class="marquee__wrapper">
                                    <p>Наши игры &ndash; мощный инструмент!</p>
                                    <img class="" src="{{ asset('img/stamp-red.png') }}" width="344" height="172" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="advantage block">
                <ul class="advantage__list" data-name="advantage-list">
                    <li class="advantage__item advantage__item--active" data-name="advantage-item">
                        <span class="advantage__text">
                          <span>Индивидуально моделируем каждую игру</span>
                        </span>
                    </li>
                    <li class="advantage__item" data-name="advantage-item">
                        <span class="advantage__text">
                          <span>От 10 до 2000 участников</span>
                        </span>
                    </li>
                    <li class="advantage__item" data-name="advantage-item">
                        <span class="advantage__text">
                          <span>Высококлассные механики</span>
                        </span>
                    </li>
                    <li class="advantage__item" data-name="advantage-item">
                        <span class="advantage__text">
                          <span>Технологичный реквизит</span>
                        </span>
                    </li>
                    <li class="advantage__item" data-name="advantage-item">
                        <span class="advantage__text">
                          <span>Активность участников более 90%</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="projects block" data-projects>
                <div class="projects__wrapper block__wrapper">
                    <h2 class="projects__title title">Проекты</h2>
                    {{ render(controller('AppBundle:Main:slider')) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('libs/parallax/parallax.min.js') }}"></script>
    <script src="{{ asset('js/my-main.js') }}?v=1636822055"></script>
{% endblock %}