{% extends 'base.html.twig' %}

{% block bodyclass %}exclusive{% endblock %}
{% block content %}
    <main class="l-content">
        <section class="l-section l-section-apply" id="apply">
            <h2 class="s-title">Анкета</h2>
            {{ form_start(order_form, { 'attr': {'class': 's-form b-apply'}}) }}
                <div class="s-form-group">
                    <label for="name">Контактное лицо</label>
                    {{ form_row(order_form.name, { 'attr': {'class': 's-control', 'size': 45, 'placeholder': 'Ваше имя'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.phone, { 'attr': {'class': 's-control', 'size': 45, 'placeholder': 'Телефон для связи'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.goal, { 'attr': {'class': 's-control', 'size': 45, 'placeholder': 'Цель вашего мероприятия'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.fieldOfActivity, { 'attr': {'class': 's-control', 'size': 45, 'placeholder': 'Сфера деятельности вашей компании'}}) }}
                </div>
                <div class="s-form-group">
                    <label class="inline" for="date">Когда</label>
                    {{ form_row(order_form.date, { 'attr': {'class': 's-control date', 'size': 12}}) }}
                    <label class="inline" for="qty">Человек</label>
                    {{ form_row(order_form.members, { 'attr': {'value': 0, 'max': 1000, 'style': 'width: 60px'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.averageAge, { 'attr': {'class': 's-control', 'size': 45, 'placeholder': 'Средний возраст участников'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.likedProjects, { 'attr': {'class': 's-control textarea', 'rows': 6, 'placeholder': 'Понравившиеся сценарии прошлых мероприятий'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.dislikedProjects, { 'attr': {'class': 's-control textarea', 'rows': 6, 'placeholder': 'Мероприятия, концепции которых вам не понравились'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.ideas, { 'attr': {'class': 's-control textarea', 'rows': 6, 'placeholder': 'Ваши пожелания и идеи'}}) }}
                </div>
                <div class="s-form-group">
                    {{ form_row(order_form.email, { 'attr': {'class': 's-control', 'size': 45, 'placeholder': 'Ваш e-mail для ответа'}}) }}
                </div>
                {{ form_row(order_form._token) }}
                <button class="s-button block" type="submit">Отправить</button>
            {{ form_end(order_form, {'render_rest': false}) }}
        </section>
        <section class="l-section l-section-projects b-skew b-skew-top dark">
            <h2 class="s-title main-color">Другие проекты</h2>
            {% include 'default/_slider.html.twig' %}
            {% include 'default/_slider_categories.html.twig' %}
        </section>
    </main>
{% endblock %}

{% block footer_js %}
    {{ parent() }}

    <script src="/js/form.js" type="text/javascript"></script>
{% endblock %}
