{% extends 'base.html.twig' %}

{% block bodyclass %}sb_quest{% endblock %}
{% block header_div_additional_class %}l-header__inner--small{% endblock %}

{% block content %}
    <main class="event">
        <div class="intro block">
            <div class="intro__wrapper block__wrapper" data-parallax="scroll" data-speed="1.2" data-bleed="10"
                 data-image-src="{% path current_project.headerBackgroundImage, 'medium' %}">
                <div class="intro__main">
                    <div class="intro__main-wrap">
                        <ul class="intro__list">
                            <li class="intro__item intro__item--game">
                                <span>{{ current_project.type|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--smile">
                                <span>{{ current_project.members|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--pin">
                                <span>{{ current_project.place|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--run">
                                <span>{{ current_project.movementType|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--time">
                                <span>{{ current_project.duration|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--tel">
                                <span>{{ current_project.gadget|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--deer">
                                <span>{{ current_project.age|raw }}</span>
                            </li>
                        </ul>
                        <div class="intro__card">
                            <h2>{{ current_project.title }}</h2>
                            <p>{{ current_project.description|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="regulations block">
            <div class="regulations__wrapper block__wrapper">
                <h2 class="regulations__title title">Регламент</h2>
                <ul class="regulations__list">
                    {% for stage in current_project.stages %}
                        {% if loop.index % 2 > 0 %}
                            {% set stage_class = 'stage--fs' %}
                            {% set stage_i_class = '' %}
                        {% else %}
                            {% set stage_class = 'stage--fe' %}
                            {% set stage_i_class = 'stage__side--left' %}
                        {% endif %}
                        <li class="regulations__item">
                            <div class="stage {{ stage_class }}">
                                <div class="stage__wrapper">
                                    <div class="stage__main">
                                        <h3>{{ stage.title }}</h3>
                                        <p>{{ stage.description|raw }}</p>
                                    </div>
                                    <div class="stage__side {{ stage_i_class }}">{{ loop.index }}</div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="gallery block">
            <div class="gallery__wrapper block__wrapper">
                <h2 class="gallery__title title">Фотографии</h2>
                <div class="swiper-container gallery__container">
                    <div class="swiper-wrapper">
                        {% for photo in current_project.photos %}
                        <div class="swiper-slide gallery__slide">
                            <div class="gallery__photo">
                                <img src="{% path photo.image, 'medium' %}" alt="">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="gallery__nav">
                        <button class="gallery__arrow gallery__arrow--prev" type="button" aria-label="Предыдущее фото">
                            <svg width="48" height="48" viewBox="0 0 48 48">
                                <use xlink:href="{{ asset('img/sprite/sprite.svg') }}#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="gallery__arrow gallery__arrow--next" type="button" aria-label="Следующее фото">
                            <svg width="48" height="48" viewBox="0 0 48 48">
                                <use xlink:href="{{ asset('img/sprite/sprite.svg') }}#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div class="projects block">
            <div class="projects__wrapper block__wrapper">
                <h2 class="projects__title title">Другие проекты</h2>
                {{ render(controller('AppBundle:Default:slider', {'route': app.request.attributes.get('_route') })) }}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer block">
        <div class="footer__wrapper block__wrapper">
            <div class="footer__col">
                <h3>Best quest</h3>
                <ul>
                    <li>
                        <a class="footer__link" href="{{ path('app__about') }}#team">Команда</a>
                    </li>
                    <li>
                        <a class="footer__link" href="{{ path('app__about') }}#clients">Клиенты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3>Проекты</h3>
                {{ render(controller('AppBundle:Default:footerProjects')) }}
            </div>
            <div class="footer__col footer__col--margin">
                <h3>Контакты</h3>
                <ul>
                    <li>
                        <a class="footer__link" href="tel:+78125746512">+7 (812) 574 65 12</a>
                    </li>
                    <li>
                        <a class="footer__link" href="tel:+79219763876">+7 (921) 976 38 76</a>
                    </li>
                    <li>
                        <a class="footer__link" href="mailto:info@best-quest.ru">info@best-quest.ru</a>
                    </li>
                    <li>
                        {% if current_project is defined %}
                            <a class="footer__link"  href='{{ path('app__order', {'slug': current_project.slug }) }}'>Заявка</a>
                        {% else %}
                            <a class="footer__link"  href='{{ path('app__order') }}'>Заявка</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}
{% block footer_js %}
    <script src="{{ asset('libs/svgxuse.min.js') }}" async defer></script>
    <script src="{{ asset('libs/swiper/swiper.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset('libs/parallax/parallax.min.js') }}"></script>
    <script src="{{ asset('js/my-main.js') }}"></script>
{% endblock %}