{% extends 'base.html.twig' %}

{% block bodyclass %}sb_quest{% endblock %}

{% block content %}
    <main class="event">
        <div class="intro block">
            <div class="intro__wrapper block__wrapper" data-parallax="scroll" data-speed="1.2" data-bleed="10"
                 data-image-src="{% path current_project.headerBackgroundImage, 'medium' %}">
                <div class="intro__main">
                    <div class="intro__main-wrap">
                        <ul class="intro__list">
                            <li class="intro__item intro__item--game">
                                <span>{{ current_project.type|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--smile">
                                <span>{{ current_project.members|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--pin">
                                <span>{{ current_project.place|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--run">
                                <span>{{ current_project.movementType|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--time">
                                <span>{{ current_project.duration|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--tel">
                                <span>{{ current_project.gadget|raw }}</span>
                            </li>
                            <li class="intro__item intro__item--deer">
                                <span>{{ current_project.age|raw }}</span>
                            </li>
                        </ul>
                        <div class="intro__card">
                            <h2>{{ current_project.title }}</h2>
                            <p>{{ current_project.description|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="regulations block">
            <div class="regulations__wrapper block__wrapper">
                <h2 class="regulations__title title">Регламент</h2>
                <ul class="regulations__list">
                    {% for stage in current_project.stages %}
                        {% if loop.index % 2 > 0 %}
                            {% set stage_class = 'stage--fs' %}
                            {% set stage_i_class = '' %}
                        {% else %}
                            {% set stage_class = 'stage--fe' %}
                            {% set stage_i_class = 'stage__side--left' %}
                        {% endif %}
                        {% if loop.last %}
                            {% set stage_wrapper_class = 'stage__wrapper--last' %}
                        {% else %}
                            {% set stage_wrapper_class = '' %}
                        {% endif %}
                        <li class="regulations__item">
                            <div class="stage {{ stage_class }}">
                                <div class="stage__wrapper {{ stage_wrapper_class }}">
                                    <div class="stage__main">
                                        <h3>{{ stage.title }}</h3>
                                        <p>{{ stage.description|raw }}</p>
                                    </div>
                                    <div class="stage__side {{ stage_i_class }}">{{ loop.index }}</div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="gallery block">
            <div class="gallery__wrapper block__wrapper">
                <h2 class="gallery__title title">Фотографии</h2>
                <div class="swiper-container gallery__container">
                    <div class="swiper-wrapper">
                        {% for photo in current_project.photos %}
                        <div class="swiper-slide gallery__slide">
                            <div class="gallery__photo">
                                <img src="{% path photo.image, 'medium' %}" alt="">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="gallery__nav">
                        <button class="gallery__arrow gallery__arrow--prev" type="button" aria-label="Предыдущее фото">
                            <svg width="48" height="48" viewBox="0 0 48 48">
                                <use xlink:href="{{ asset('img/sprite/sprite.svg') }}#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="gallery__arrow gallery__arrow--next" type="button" aria-label="Следующее фото">
                            <svg width="48" height="48" viewBox="0 0 48 48">
                                <use xlink:href="{{ asset('img/sprite/sprite.svg') }}#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div class="projects block">
            <div class="projects__wrapper block__wrapper">
                <h2 class="projects__title title">Другие проекты</h2>
                {{ render(controller('AppBundle:Default:slider', {'project': current_project, 'route': app.request.attributes.get('_route') })) }}
            </div>
        </div>
    </main>
{% endblock %}